# Dependencies
node_modules
yarn-error.log

# Environment and Secrets
.env

# IDE and Editor Files
/.idea

# Build and Output
summarised_prs.json

# Test Coverage
coverage/
.nyc_output/
*.lcov

# Custom Configuration
customPrDescriptionPrompt.txt
customRaconteurPrompt.txt

temp_prs_data.json